# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.cache/
.next/
out/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
